
body {
    background-image: url(https://miro.medium.com/max/1400/0*D20V-5QYOpFdrFWi);
    background-size: cover;
    background-blend-mode: multiply;;

}


.container{
    height: 100%;
    align-content: center;
    }

/*Estilo de las card en general, supongo que tendremos uno para cada uno*/
    .card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
    }
/*Estilo del card Registrar suscriptor*/
.cardRS{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 650px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
    }




/*Estilo del card Iniciar Sesión*/
    .cardIS{
        height: 300px;
        margin-top: auto;
        margin-bottom: auto;
        width: 500px;
        background-color: rgba(0,0,0,0.5) !important;
        align-content: center;
        }

/*Estilo del card Ver Suscripción*/
.cardVS{
    height: 280px;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
    }

.cardPerfil{
        height: 180px;
        width: 500px;
        margin-top: 180px;
        margin-bottom: auto;
        background-color: rgba(0,0,0,0.5) !important;
        align-content: center;
        }
    

 /*Estilo del card Modificar Suscripción*/
.cardMS{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 700px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
    }   

.cardAutor{
    height: 280px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
    }   

.cardEliminarAutor{
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
    }  
            
.cardEditarAutor{
    height: 330px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
}   

.cardEditorial{
    height: 250px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
    }       

.cardEditarEditorial{
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;
}          
            
.cardVerLibros {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
    align-content: center;

}
    

    
    
    
.card-header h3{
    color: white;
    align-content: center;
}

.card-header h5{
    color: white;
    align-content: center;
    }
    
  
    /*Input preprend es el que separa, creo(?)*/
.input-group-prepend span{
    width: 50px;
    background-color: rgb(207, 22, 22);
    color: black;
    border:0 !important;
    }

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

    }
     
.login_btn{
    color: white;
    background-color: rgb(207, 22, 22);
    width: 150px;
    position: relative;
    }
    
.btnPerfil {
    width: 200px ;
    height: 40px;
    color: white;
    background-color: rgb(207, 22, 22);
    position: relative;


}
.login_btn:hover{
    color: red;
    background-color: white;
    }
    
.links{
    color: white;
    }
    
.links a{
    margin-left: 4px;
    }