.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-novedad{

  padding: 3%;    
}
.form-login{
  padding: 4%;
}
.carrusel{
  
  height: 20vh;
  padding-top: 30px;
  margin-bottom: 230px;
  padding-bottom: 50px ;
  padding-left: 35px;
  padding-right: 35px;
}

.itemBuscador{
  padding: 0.5%;
  float: left;
  width: 20%;
}
.itemBoton{
 
  margin: 2px;

}
.detalleLibro{
  width: 100%;
}
.tituloLibro{
  text-align: center;

}
.isbn{
 
  text-align: right;
 
}
.absoluto{
 position: absolute; left: 30px;

}
.ralativo{
  position: relative;
}





